$Roboto: 'Roboto', sans-serif;

$size_12: calc((100vw - 360px) / (1920 - 375) * (12 - 12) + 11px);
$size_13: calc((100vw - 360px) / (1920 - 360) * (13 - 13) + 13px);
$size_14: calc((100vw - 360px) / (1920 - 360) * (14 - 14) + 14px);
$size_25: calc((100vw - 360px) / (1920 - 360) * (25 - 16) + 16px);



